#area-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}
#area-modal .container-modal {
    width: 60%;
    height: auto;
    min-height: 200px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    position: relative;
}
#area-modal .container-modal.small {
    width: 40%;
    min-width: 480px;
}
#area-modal .container-modal.medium {
    width: 50%;
    min-width: 520px;
}
#area-modal .container-modal.large {
    width: 80%;
    min-width: 640px;
}
#area-modal .container-modal button.close-modal {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #fff;
    transition: .4s;
    cursor: pointer;
}
#area-modal .container-modal button.close-modal:hover {
    background-color: #ebebeb;
}

#area-modal .container-modal .content-modal {
    width: 100%;
    min-height: 350px;
    display: flex;
}
#area-modal .container-modal .content-modal.block {
    display: block;
}
#area-modal .container-modal .content-modal .personal {
    width: 50%;
    height: 100%;
    border-right: 1px solid #ebebeb;
}
#area-modal .container-modal .content-modal .personal .section {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
}
#area-modal .container-modal .content-modal .personal .section .img-user {
    width: 70px;
    min-height: 70px;
    border-radius: 8px;
    background-color: var(--secondary-color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 700;
    color: var(--secondary-color);
}
#area-modal .container-modal .content-modal .personal .section h4 {
    padding: 10px;
    color: var(--primary-color);
    font-weight: 700;
}
#area-modal .container-modal .content-modal .personal .section h6 {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 15px;
}

#area-modal .container-modal .content-modal .personal .info-section,
#area-modal .container-modal .content-modal .address .info-section {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}
#area-modal .container-modal .content-modal .personal .info-section .block,
#area-modal .container-modal .content-modal .address .info-section .block {
    width: 50%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: content-box;
    padding: 15px 0;
    margin: 5px 0;
}
#area-modal .container-modal .content-modal .personal .info-section .block h5,
#area-modal .container-modal .content-modal .address .info-section .block h5 {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 17px;
}
#area-modal .container-modal .content-modal .personal .info-section .block p,
#area-modal .container-modal .content-modal .address .info-section .block p {
    font-weight: 500;
    font-size: 13px;
}

#area-modal .container-modal .content-modal .address {
    width: 50%;
    height: 100%;
    padding: 0 0 0 20px;
}


#area-modal .container-modal .content-modal .filter {
    width: 100%;
    height: 40px;
    display: flex;
    box-sizing: border-box;
    margin-top: 10px;
}
#area-modal .container-modal .content-modal .filter input {
    width: 100%;
    height: 95%;
    border-radius: 7px;
    border: 1px solid #ebebeb;
    padding: 0 15px;
    font-family: 'Montserrat';
    font-weight: 500;
}

#area-modal .container-modal .content-modal ul.list-comments {
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: auto;
    padding-top: 5px;
}

#area-modal .container-modal .content-modal ul.list-comments li {
    width: 100%;
    min-height: 70px;
    border-bottom: 1px solid #ebebeb;
    border-radius: 4px;
    display: flex;
    margin: 8px 0;
    overflow: hidden;
}
#area-modal .container-modal .content-modal ul.list-comments li .thumb {
    width: 70px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#area-modal .container-modal .content-modal ul.list-comments li .thumb span {
    font-weight: 600;
    color: var(--secondary-color);
    background-color: var(--secondary-color-light);
    width: 70%;
    padding: 10px 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 25px;
    text-transform: uppercase;
}
#area-modal .container-modal .content-modal ul.list-comments li .info-user {
    width: calc(100% - 50px);
}
#area-modal .container-modal .content-modal ul.list-comments li .header {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: flex-start;
}
#area-modal .container-modal .content-modal ul.list-comments li .header p {
    font-weight: 700;
    color: var(--primary-color);
    padding-right: 10px;
    text-transform: capitalize;
}
#area-modal .container-modal .content-modal ul.list-comments li .header span {
    font-size: 13px;
    font-weight: 500;
    color: var(--secondary-color);
    text-transform: lowercase;
    font-style: italic;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 2px;
}
#area-modal .container-modal .content-modal ul.list-comments li .text {
    width: 95%;
    min-height: 40px;
    padding-bottom: 15px;
    color: var(--font-color);
}
#area-modal .container-modal .content-modal ul.list-comments li .text::first-letter {
    text-transform: capitalize;
}